\sy\stem_ext/apex/com.android.vndk.v30.apex
vendor/etc/camera/vidhance.lic
product/app/Photo\s/Photo\s.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/MotoAppUIRefre\sh/MotoAppUIRefre\sh.apk
product/priv-app/Me\s\sage\s/Me\s\sage\s.apk
product/priv-app/Gm\sCore/Gm\sCore.apk
product/priv-app/Velvet/Velvet.apk
product/priv-app/AiService\s/AiService\s.apk
product/priv-app/MotCamera4/MotCamera4.apk
product/priv-app/MotoDe\sktop/MotoDe\sktop.apk
